.emotion-activity-summary-view-control .pnl-container
{
	position: relative; 
	height: 150px; 
	width: 500px; 
	border: 2px solid black;
}

.emotion-activity-summary-view-control .pnl-image-container
{
	position: relative;
	float: left;
	height: 135px;
	width: 180px;
	top: 8px; 
	left: 8px;
}

.emotion-activity-summary-view-control .pnl-info-container
{
	position: relative;
	height: 150px;
	float: left;
	width: 60%;
	left: 20px;
}

.emotion-activity-summary-view-control .pnl-event-name
{
	position: relative;
	height: 30px;
	font-weight: bold;
	font-size: 23px;
	line-height: 28px;
}

.emotion-activity-summary-view-control .pnl-location-info
{
	position: relative;
	display: block;
	height: 80px;
}

.emotion-activity-summary-view-control .lbl-do-activity
{
	position: relative;
	float: right;
	right: 18px;
	font-weight: bold;
	z-index: 1;
	top: -52px;
}

.emotion-activity-summary-view-control .pnl-snapshot
{
	position: relative;
	display: block;
	height: 20px;
	margin-top: 130px;
	left: 200px;
	width: 300px;
}

.emotion-activity-summary-view-control .pnl-price-stars,
.emotion-activity-summary-view-control .pnl-distance
{
	position: relative;
	float: left; 
	top: -20px;
}

.emotion-activity-summary-view-control .pnl-distance
{
	padding-left: 63px;
}
