/*  EMOTION SELECTION VIEW             */
/*  mood buttons layout                */
/*  unique background for each button  */
/*  (buttons arranged alphabetically)  */

/*  frame buttons within a table  */
table, td
{
    margin-right: auto;
    margin-left: auto; 
    padding: 2px;
    border: none;
}

#mbutton-afraid
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/afraid.png);
}

#mbutton-angry
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/angry.png);
}

#mbutton-anxious
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/anxious.png);
}

 #mbutton-confident
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/confident.png);
}

#mbutton-dread
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/dread.png);
}

#mbutton-happy
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/happy.png);
}

#mbutton-lonely
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/lonely.png);
}

#mbutton-regret
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/regret.png);
}

#mbutton-sad
{
    margin-right: auto;
    margin-left: auto; 
    border-style: outset;
    border-width: 8px; 
    width: 100px;
    height: 100px;
    background-image: url(../img/mb/sad.png);
}

/*  HOVER EFFECTS for mood buttons  */
#mbutton-afraid:hover
{
    border-style: inset;
}

#mbutton-angry:hover
{
    border-style: inset;
}

#mbutton-anxious:hover
{
    border-style: inset;
}

#mbutton-confident:hover
{
    border-style: inset;
}

#mbutton-dread:hover
{
    border-style: inset;
}

#mbutton-happy:hover
{
    border-style: inset;
}

#mbutton-lonely:hover
{
    border-style: inset;
}

#mbutton-regret:hover
{
    border-style: inset;
}

#mbutton-sad:hover
{
    border-style: inset;
}
