.emotion-filter-control .pnl-container
{
	width: 90%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	border: 3px solid;
	border-radius: 12px;
}

.emotion-filter-control .filter-label
{
	font-weight: bold;
	width: 30%;
	float: left;
	text-align: center;
	background-repeat: no-repeat; 
	background-position: right; 
	-webkit-user-select: none;
}

.emotion-filter-control .filter-label:hover
{
	cursor: pointer; 
}

.emotion-filter-control .descending
{
	background-image: url(../img/down-arrow-20x17.png); 
}

.emotion-filter-control .ascending
{
	background-image: url(../img/up-arrow-20x17.png); 
}