#header-text
{
	text-align: center;
	margin-bottom: 20px;
}

.page-content
{
	margin-right: auto;
	margin-left: auto; 
	margin-top: auto;
	margin-bottom: auto; 
	width: 900px;
	height: auto;
	min-height: 600px; 
	margin-top: 10px; 
	background-color: white; 
}