
/***********************Main page content area******************/

.login-table
{
	position: relative;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 40px;  
}

.how-it-works
{
	margin: 0px;
	padding: 50px;
	text-align: center; 
}

#image-strip
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	padding-top: 20px;
	width: 800px;
}

.emotion-registration-control
{
	position: relative;
	height: auto;
	width: 379px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px; 
}

.pnl-image-container
{
	position: relative; 
	float: left; 
}

.home-image-display
{
	height: 200px; 
	width: 200px; 
}