/*  MOOD PROFILE VIEW                  */
/*  mood record layout                 */
/*  (moods arranged alphabetically)    */

/*  frame Mood panels within a table  */
table#mview
{
    margin-right: auto;
    margin-left: auto; 
    padding: 4px;
    border: ridge;
    border-radius: 20px;
    border-width: 3px;
    border-color: #000000;
    width: 500px;
}

table#mview td
{
    margin-right: auto;
    margin-left: auto; 
    padding: 4px;
    border: ridge;
    border-radius: 15px;
    border-width: 1px;
    text-align:center;
}

a:link
{
    text-decoration: none;
}

table#mview:hover
{
    border-style: groove;
}
