.emotion-registration-control
{
	position: relative; 
}

.emotion-registration-control .pnl-container
{
	height: 400px; 
	width: 360px; 
	margin-right: auto;
	margin-left: auto; 
}

.emotion-registration-control .reg-form-label
{
	display: block;
	/* height: 82px; */
	font-weight: bold;
	font-size: 18px;
	width: auto;
	padding-bottom: 20px;
}

.emotion-registration-control .reg-form-input
{
	position: absolute;
	left: 378px;
	width: 250px;
	/* height: 30px; */
	/* padding-bottom: 5px; */
	font-size: 14px;
}

.emotion-registration-control .btn-form
{
	height: 40px;
	width: 100px; 
}

.emotion-registration-control .pnl-button-container
{
	position: relative;
	width: 211px;
	height: 40px;
	float: right;
	left: 6px;
}

#btnSubmit
{
	margin-right: 10px; 
}